/* Stylesheet file */
.banner-button--white a {
	border: solid white;
	background: #1A5532;
	color: white;
	padding: 7px 45px;
}
.banner-button--white a:hover {
	cursor: pointer;
	border: solid white;
	background: #1A5532;
	color: white;
	padding: 7px 45px;
}


/* Footer */
.footer-linked-list ul li:first-child {
	padding-top: 0px;
}

.footer-subscribe {
	display: flex;
	flex-direction: column;
}

.footer-subscribe input[type="email"] {
	border: solid 1px white;
  background: #1c1c1c;
  color: #ffffff;
}

.footer-subscribe input[type="email"]::placeholder {
  color: #ffffff;
}
