.address-card-style-class button.slds-button.address-footer-button-style.lwc-585gpl882f4:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.my-account-box .slds-m-around_medium lightning-card .slds-card__body {
    padding: 0 20px;
}

.my-account-box .slds-card {
    border: none;
    box-shadow: none;
}

.my-account-box lightning-layout.card-header.slds-grid.slds-grid_align-spread.slds-grid_vertical-align-center {
    border-bottom: 1px solid #d2d2d2;
}

.my-account-box lightning-layout.card-header.slds-grid.slds-grid_align-spread.slds-grid_vertical-align-center lightning-layout-item:first-child {
    font-weight: 600;
}

.my-account-box lightning-layout.card-header.slds-grid.slds-grid_align-spread.slds-grid_vertical-align-center button.slds-button {
    font-size: 12px;
    text-transform: uppercase;
    color: #7C7E81;
}

.my-account-box .slds-p-around_medium {
    padding-left: 0;
    padding-right: 0;
}

.my-account-box .slds-p-around_medium lightning-record-view-form div, .my-account-box .slds-p-around_medium .slds-form-element__static, .my-account-box span.slds-form-element__label {
    font-size: 14px;
}

.my-account-box lightning-output-field.slds-form-element.slds-form-element_horizontal {
    display: inline-table;
}