.address-card-style-class button.slds-button.address-footer-button-style.lwc-585gpl882f4:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.my-account-box .slds-m-around_medium lightning-card .slds-card__body {
    padding: 0 20px;
}

.my-account-box slds-card {
    border: none;
    box-shadow: none;
}