

.category-banner .column-content:first-child{
	padding-left: 60px;
	padding-right: 60px;
}

.category-banner .dxp-block-image-host.lwc-2jronin66ql {
	background-size: 170%;
	background-position: center;
}

.category-banner-paragraph {
	padding-right: 180px;
}

/* Banner breakpoints */
@media (width >= 1200px) {
	.category-banner .column-content:first-child{
		padding-left: 120px;
		padding-right: 120px;
	}
}

@media (width >= 1024px) {
	.category-banner .column-content:first-child{
		padding-left: 90px;
		padding-right: 90px;
	}
}

@media (width >= 768px) {
	.category-banner .column-content:first-child{
		padding-left: 60px;
		padding-right: 60px;
	}
}
