.checkout-cart-items .description-name-label {
	font-size: 1.5rem;
	text-decoration: none !important;
}

.cart-summary .subtotal-price dd,
.cart-summary .shipping-price dd,
.cart-summary .promotion-price dd,
.cart-summary .tax-price dd {
	color: var(--Sonos-Palette-Black) !important;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: var(--ats-brand-primary-font-family);
	font-size: 1.125rem !important; 
	font-weight: 600 !important;
}

.ats-checkout-shipping-address .slds-form-element .slds-grid {
	flex-direction: row;
	gap: 20px;
}

.ats-checkout-shipping-address .card-address-fit .slds-col:first-child {
	font-weight: 600;
}