.checkout-cart-items .description-name-label {
	font-size: 1.5rem;
	text-decoration: none !important;
}

.cart-summary .subtotal-price dd,
.cart-summary .shipping-price dd,
.cart-summary .promotion-price dd,
.cart-summary .tax-price dd {
	color: var(--Sonos-Palette-Black) !important;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: var(--ats-brand-primary-font-family);
	font-size: 1.125rem !important; 
	font-weight: 600 !important;
}

/* Shipping address */
.ats-checkout-shipping-address .slds-radio__label {
	cursor: pointer;
}

.ats-checkout-shipping-address .slds-badge {
	border-radius: 2px;
}

.ats-checkout-shipping-address .slds-col:not(:has(.slds-badge))  {
	background-color: #FBFBFB;
}

.ats-checkout-shipping-address .card-address-fit .slds-col:first-child {
	font-weight: 600;
}

.ats-checkout-shipping-address div[name="shipping-address"] button,
.ats-checkout-shipping-address div[name="shipping-address"] button:hover {
	border: none;
	text-decoration: underline;
	color: var(--ats-brand-black);
	padding: 0px;
	background: none;
}


/* Dual payment */
@media (width >= 48em) {
	.ats-dual-payment .accordion-container {
		width: 70%;
	}

	.ats-dual-payment .accordion-content {
		padding: var(--dxp-g-spacing-large) 0px;
	}
}