.checkout-cart-items .description-name-label {
	font-size: 1.5rem;
	text-decoration: none !important;
}

.cart-summary .subtotal-price dd,
.cart-summary .shipping-price dd,
.cart-summary .promotion-price dd,
.cart-summary .tax-price dd {
	color: var(--Sonos-Palette-Black) !important;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: var(--ats-brand-primary-font-family);
	font-size: 1.125rem !important; 
	font-weight: 600 !important;
}

/* Shipping address */
/* .ats-checkout-shipping-address .radio-container {
	display: none;
} */

.ats-checkout-shipping-address .slds-form-element .slds-grid {
	flex-direction: row;
	gap: 20px;
}

.ats-checkout-shipping-address .slds-radio__label {
	cursor: pointer;
}

.ats-checkout-shipping-address .slds-badge {
	border-radius: 2px;
}

.ats-checkout-shipping-address .slds-col:not(.slds-col .slds-col) {
	border: 1px solid var(--ats-brand-primary-gray-3);
	padding: 20px;
}

.ats-checkout-shipping-address .slds-col:not(:has(.slds-badge))  {
	background-color: #FBFBFB;
}

.ats-checkout-shipping-address .card-address-fit .slds-col:first-child {
	font-weight: 600;
}

