/* Navbar */
div[name="header"] {
	background-color: var(--ats-brand-white);
}

.navbar-site-logo .logo-anchor {
	justify-content: center !important;
}

.navbar-links {
	display: flex;
	justify-content: center;
}

.navbar-links .col-large-size_4-of-12:not(:last-child) {
	border-right: 1px solid var(--ats-brand-primary-gray-2);
}

.navbar-tabs {
	border-bottom: 1px solid var(--ats-brand-primary-gray-2);
}

.navbar-profile-menu .slds-dropdown-trigger {
	justify-content: flex-end;
  margin-right: 20px;
}

.navbar-cart-icon::after {
  content: "My Cart";
	font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
}

.navbar-quote {
	justify-content: center;
}

/* Navbar Search */
.navbar-search .input-wrapper {
	border-right: none !important;
}

.navbar-search .input-container,
.navbar-search .input-search-button {
	height: 44px !important;
}

.navbar-search .input-search-button {
	padding: 0 12px;
}

.navbar-search svg {
	min-width: 24px;
	transform: rotate(90deg);
}



/* Badges */
.slds-badge {
	padding: 6px 12px;
	border: transparent;
	font-weight: 600;
}
.badge-grey {
	--slds-c-badge-color-background: var(--ats-brand-primary-gray-2);
	--slds-c-badge-text-color: var(--ats-brand-primary-gray-1);
}

.badge-pending {
	--slds-c-badge-color-background: var(--ats-pill-yellow);
	--slds-c-badge-text-color: var(--ats-brand-red);
}

.badge-complete {
	--slds-c-badge-color-background: var(--ats-pill-yellow-2);
	--slds-c-badge-text-color: var(--ats-brand-red);
}

.badge-warning {
	--slds-c-badge-color-background: var(--ats-pill-red-background);
	--slds-c-badge-text-color: var(--ats-pill-red-2);
}

/* Horizontal line */
.horizontal-line--margin {
	margin-bottom: 10px;
	margin-top: 10px;
}