/* Product grid */
.product-card-grid .slds-wrap {
	display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.product-card-grid .slds-wrap .slds-var-p-around_large {
	width: 100%;
	height: 100%;
}


.lwc-7s0fh5rflqi.slds-size_12-of-12.product-container {
	display: flex;
    flex-direction: column;
    min-height: 460px;
    justify-content: space-between;
	height: 100%;
}

.product-card-grid .image-container img {
	max-height: 275px;
}

.product-card-grid .image-container h3 {
	font-size: 20px;
}

/* Product detail page */
.button--product a {
	width: 296px;
}


/* Product container */
.ats-product-container .column-content:nth-child(2){
	max-width: 60%;
}

.ats-product-title .dxp-text-heading-large {
	font-size: 32px;
	font-weight: 400;
}

.ats-product-pricing-details .main-price {
	font-weight: 400;
}

/* Mobile */
.mobile-commerce-header .header-navigation {
	margin-right: 15px;
}
.product-page-search-input .input-wrapper {
	border-right: none !important;
}

.product-page-search-input button {
	padding-right: 10px;
  padding-left: 10px;
}

.product-page-search-input input::placeholder {
	font-weight: 300;
}

.product-pricing-details {
	justify-content: flex-start;
}

.product-container c-x-studio-_-record-image.lwc-7s0fh5rflqi {
	position: relative;
}
.product-container .wishlist-container[lwc-6l6efknr81i] {
	height: auto;
	width: auto;
	position: absolute;
	top: 0;
	right: 0;
}

lightning-layout.slds-grid.slds-grid_align-end {
	background-size: contain !important;
}