:root {
	/* Font */
	--ats-brand-primary-font-family: 'Open Sans';

	/* Colors */
	--ats-brand-primary-gray-1: #3A3A3A;
	--ats-brand-primary-gray-2: #E6E6E6;
	--ats-brand-primary-gray-3: #B7B7B7;
	--ats-brand-primary-gray-4: #D2D2D2;
	--ats-brand-primary-green: #1A5532;
	--ats-brand-red: #924F00;
	--ats-brand-white: #FFFFFF;
	--ats-brand-black: #000000;
	--Sonos-Palette-Black: #141414;
	
	/**************
	Components
	***************/
	/* Badge */
	--ats-pill-yellow: #FFF0D1;
	--ats-pill-yellow-2: #E9F6CC;
	--ats-pill-red: #FFE5E7;
	--ats-pill-red-2: #BB2A1D;
	--ats-pill-green-font: #1A5532;
	--ats-pill-green-background: #E9F6CC;
}